 *{
 	margin:0;
 	padding:0;
 	box-sizing:border-box;
 	font-family:times Georgia, 'Times New Roman', Times, serif;
 	}

 	body{
 		height:100vh;
 		background: #000;
 		display:flex;
 		justify-content:center;
 		align-items:center;
 		overflow:hidden;
 		}

 		.intro{
 			text-align:center;
 			margin-bottom: 70%;
 			}

 			#logo{
 				font-size:50px;
 				font-weight:bold;
 				letter-spacing:5px;
 				color:gold;
 				opacity:100px;
 				animation:

 				showLogo 1.5s forwards,
 				colorChange 2s 1.5s infinite alternate,
 				rotate3D 4s infinite alternate,
 				glow 1.5s infinite alternate;
 				}
 				@keyframes showLogo{
 					from{
 						opacity:0;
 						transform:scale(.2);
 						}

 						to{
 							opacity:1;
 							transform:scale(1);
 							}}
 							@keyframes colorChange{
 								from{
 									color:gold;
 									}
 									to{
 										color:#ff1493;
 										}}

 										@keyframes rotate3D{
 											from{
 												transform:rotateY(-25deg);
 												}
 												to{
 													transform:rotateY(25deg);
 													}}
 													@keyframes glow{
 														from{
 															text-shadow:
 															0 0 10px gold,
 															0 0 30px gold;
 															}
 															to{
 																text-shadow:
 																0 0 20px #ff1493,
 																0 0 60px #ff1493;
 																}}


 																/* Welcome */
 																#welcome{
 																	margin-top:35px;
 																	font-size:25px;
 																	color:#ff1493;
 																	opacity:0;
 																	animation:
 																	showWelcome 1s 4s forwards;
 																	}
 																	@keyframes showWelcome{
 																		from{
 																			opacity:0;
 																			transform:scale(.5);
 																			}
 																			to{
 																				opacity:1;
 																				transform:scale(1);
 																				}}
 																				/* Exit animation */
 																				.exit{
 																					animation:exitAnimation 1.5s forwards;
 																					}
 																					@keyframes exitAnimation{
 																						to{
 																							opacity:0;
 																							transform:scale(1.4);
 																							}}
